form {
  max-width: 40em;
  padding: 4px;
  margin: 3em auto;
  border: 0 none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background: aliceblue;
  text-align: center;
}

button {
    background-color: cornflowerblue;
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: .5em;
    border-radius: 2px;
    margin: 2em;
    width: 100%;
}

.messagePrint {
  margin-top: 20em;
  margin-left: 5em;
  margin-right: 5em;
}

.allMessages {
  padding-left: 5em;
}

.messageCard {
  border: darkblue solid 4px;
  padding-left: 1em;
  margin: 10px;
}

.message-title {
  padding: 1em;
}