img {
    width: 80px;
}

.friend-card, .user-card {
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;    
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(141, 141, 141, 0.2);
    border-radius: 5px; 
    margin-bottom: 1em; 
    background: aliceblue;
    padding: .5em;
    width: 40%;
    vertical-align: middle;
}

.friend-title {
    padding: 1em;
}

.addfriend-title {
    text-align: center;
    padding: 1em;
}

h4 {
    text-align: center;
}
  
.add-friend-button {
    background-color: cornflowerblue;
    border: none;
    color: cornsilk;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    width: 100%;
    margin: 1em;
}
  
button:hover {
    background-color: darkblue;
} 
