/* .btn-primary {
    background-color: red
} */

.card:first-child {
    font-weight: bold;
    background-color: mediumaquamarine;
    border: 5px solid pink;
}

.card:first-child h3 {
    color: black;
}